APScheduler==3.6.3
beautifulsoup4
cachetools==4.2.2
certifi==2021.10.8
charset-normalizer==2.0.12
cloudscraper
idna==3.3
lxml
pyparsing==3.0.7
python-telegram-bot==13.11
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
requests
requests-toolbelt==0.9.1
six==1.16.0
soupsieve==2.3.1
tornado==6.1
tzdata==2022.1
tzlocal==4.1
urllib3==1.26.9
colorama==0.4.3
